.home-text-section {
  padding-top: 20vh;
  margin-left: 2rem;
  text-align: left;
  width: 60%;
  position: relative;

  .name {
    font-size: 1.8rem;
    line-height: 1.8rem;
    display: flex;

    .firstname {
      margin: 0;
    }

    .surname {
      color: $secondary-color;
      padding-left: 1rem;
      margin: 0;
    }
  }
}

.welcome {
  font-weight: 300;
}

.description {
  font-weight: 300;
}

.home-buttons {
  display: flex;
  flex-direction: column;

  .more-about-button {
    width: 80vw;
    background: white !important;
    color: $secondary-color !important;
    margin-bottom: 10px !important;
    font-weight: 600;
  }

  .download-cv-button {
    width: 80vw;
  }
}

.fab {
  padding: 0 0.5rem 0 0.5rem;
}
