@mixin project-button-size {
  width: 30%;
  padding: 10px;
  border: none;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

header {
  background: $primary-color;
  height: 3rem;
}

footer {
  padding: 0 2rem 0 1rem;
}

.projects-content {
  background: $primary-color;
}

.projects-cards {
  @include flex-center;
  flex-flow: column wrap;
  padding-top: 7rem;
  z-index: -1;
  .project-card {
    display: flex;
    flex-direction: column;
    background: white;
    color: $primary-color;
    width: 80%;
    height: 30vh;
    margin-bottom: 3rem;
    border-bottom: 5px solid $secondary-color;
    margin-bottom: 130px;
    @include transition-ease;

    .todo-project-image {
      height: 85%;
    }
  }
  .last-project {
    margin-bottom: 5rem;
  }
}

.card-buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;

  .preview-button {
    @include project-button-size;
    background: $primary-color;
    color: white;
    margin-bottom: 0 !important;
    width: 100%;
    background-color: black;
  }

  .code-button {
    @include project-button-size;
    background: $secondary-color;
    color: white;
    width: 100%;
  }
}
