@include media-md {
  .navbar {
    visibility: visible;

    .navbar-menu {
      display: block;
      background: transparent;
      text-align: right;
      height: 100%;
      margin: 0;
      transform: translateY(0);

      .navbar-item {
        display: inline-block;
        padding-right: 2rem;
        font-size: 1.5rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 2px;

        .navbar-link {
          @include transition-ease;
          &:hover {
            color: $secondary-color;
          }
        }
      }
    }
  }
  .menu-button {
    visibility: hidden;
  }
}

@include media-lg {
}

@include media-xl {
}
