@include media-md {
  .navbar {
    visibility: visible;

    .navbar-menu {
      display: block;
      background: transparent;
      text-align: right;
      height: 100%;
      margin: 0;
      transform: translateY(0);

      .navbar-item {
        display: inline-block;
        padding-right: 2rem;
        font-size: 1.5rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 2px;

        .navbar-link {
          @include transition-ease;
          &:hover {
            color: $secondary-color;
          }
        }
      }
    }
  }

  .about-text-section {
    .about-me {
      font-size: 3rem;
    }
  }

  .menu-button {
    visibility: hidden;
  }

  footer {
    padding: 0 1rem 0 1rem;
  }

  header {
    height: 6rem;
  }
  .projects-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .project-card {
      justify-self: center;
    }
    .last-project {
      margin-bottom: 0;
    }
  }
}

@include media-lg {
}

@include media-xl {
}
