body {
  padding: 0;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu-button {
  z-index: 1;
  position: absolute;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-button .menu-button-burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-button .menu-button-burger::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 28px;
  background: #fff;
  top: -8px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-button .menu-button-burger::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 20px;
  background: #fff;
  bottom: -8px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-button .menu-button-burger.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background: transparent;
}

.menu-button .menu-button-burger.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

.menu-button .menu-button-burger.open::after {
  width: 28px;
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.navbar {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
}

.navbar.open {
  visibility: visible;
}

.navbar .navbar-menu {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #272727;
  font-size: 2rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar .navbar-menu.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.navbar .navbar-menu .navbar-item .navbar-link {
  display: block;
  margin: 2rem 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar .navbar-menu .navbar-item .navbar-link:hover {
  color: #8c2f5b;
}

header {
  background: #272727;
  height: 3rem;
}

footer {
  padding: 0 2rem 0 1rem;
}

.projects-content {
  background: #272727;
}

.projects-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding-top: 7rem;
  z-index: -1;
}

.projects-cards .project-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  color: #272727;
  width: 80%;
  height: 40vh;
  margin-bottom: 1rem;
  border-bottom: 5px solid #8c2f5b;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.projects-cards .project-card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.projects-cards .last-project {
  margin-bottom: 5rem;
}

.card-buttons {
  margin-top: auto;
}

.card-buttons .preview-button {
  width: 30%;
  padding: 10px;
  border: none;
  margin-bottom: 1.5rem;
  cursor: pointer;
  background: #272727;
  color: white;
}

.card-buttons .code-button {
  width: 30%;
  padding: 10px;
  border: none;
  margin-bottom: 1.5rem;
  cursor: pointer;
  background: #8c2f5b;
  color: white;
}

header {
  background: #272727;
  height: 3rem;
}

footer {
  padding: 0 2rem 0 1rem;
}

.about-content {
  background: #272727;
}

.about-text-section {
  padding-top: 35vh;
  margin-left: 3rem;
  text-align: left;
  width: 50%;
  position: relative;
}

.about-text-section::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2rem;
  height: 1px;
  width: 70%;
  border-bottom: 4px solid #8c2f5b;
}

.about-text-section .about-me {
  font-size: 2rem;
  line-height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-text-section .about-title-me {
  color: #8c2f5b;
  padding-left: 1rem;
}

.about-text-section .about-me-info {
  margin-top: 0;
}

.home-text-section {
  padding-top: 35vh;
  margin-left: 3rem;
  text-align: left;
  width: 60%;
  position: relative;
}

.home-text-section .name {
  font-size: 2rem;
  line-height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-text-section .name .firstname {
  margin: 0;
}

.home-text-section .name .surname {
  color: #8c2f5b;
  padding-left: 1rem;
  margin: 0;
}

.welcome {
  font-weight: 300;
}

.description {
  font-weight: 300;
}

.home-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-buttons .more-about-button {
  width: 80vw;
  background: white !important;
  color: #8c2f5b !important;
  margin-bottom: 10px !important;
  font-weight: 600;
}

.home-buttons .download-cv-button {
  width: 80vw;
}

.fab {
  padding: 0 0.5rem 0 0.5rem;
}

.phone-section,
.address-section,
.email-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-title,
.address-title,
.email-title {
  padding-left: 12px;
}

.email,
.phone,
.address {
  color: #8c2f5b;
  margin-top: -8px;
}

@media screen and (min-width: 768px) {
  .navbar {
    visibility: visible;
  }
  .navbar .navbar-menu {
    display: block;
    background: transparent;
    text-align: right;
    height: 100%;
    margin: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .navbar .navbar-menu .navbar-item {
    display: inline-block;
    padding-right: 2rem;
    font-size: 1.5rem;
    font-weight: 350;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .navbar .navbar-menu .navbar-item .navbar-link {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .navbar .navbar-menu .navbar-item .navbar-link:hover {
    color: #8c2f5b;
  }
  .more-about-button {
    width: 30% !important;
  }
  .download-cv-button {
    width: 30% !important;
  }
  .about-text-section {
    margin-left: 5rem;
  }
  .about-text-section .about-me {
    font-size: 3rem;
  }
  .home-text-section {
    margin-left: 10rem;
    width: 50%;
  }
  .home-text-section .name {
    font-size: 3rem;
  }
  .home-buttons {
    display: block;
  }
  .menu-button {
    visibility: hidden;
  }
  footer {
    padding: 0 1rem 0 1rem;
  }
  header {
    height: 6rem;
  }
  .projects-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .projects-cards .project-card {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .projects-cards .last-project {
    margin-bottom: 0;
  }
}

body {
  background-color: #272727;
  height: 100vh;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

main {
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main .text-section {
  padding-top: 40vh;
}

main .social-icons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

footer {
  padding-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 0;
  font-size: 1rem;
  height: 3rem;
  width: 100vw;
  background: #272727;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

.active {
  color: #8c2f5b;
}
/*# sourceMappingURL=main.css.map */